*{
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-weight: bolder;

}

.topBar{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.topContent{
  margin: 2rem;
  padding: 1rem;
  font-weight: bolder;
}
.createButton{
  border:none;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  transition: background-color 0.5s, color 0.6s;
}
.createButton:hover{
  background-color: rgb(148, 148, 148);
  color:white;
}
.createPost{
  display: flex;
  justify-content: space-evenly;
}
.popup{
  width:30%;
  height:min-content; 
  /* display: flex;
  flex-direction: row; */
  padding:2rem;
  /* margin: 4rem; */
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgb(224, 224, 224);

}
.closeButton{
  border-radius: 50%;
  padding:4px;
  border:none;
  position: absolute;
  right:5px;
  top:5px;
  width: 1.5rem;
  background-color: white;
}
.closeButton:hover{
  background-color: rgb(243, 243, 243);
}

.gifSearch{
  /* border:1px dashed black; */
  text-align: center;
  box-shadow: 0 2px 4px rgb(224, 224, 224);
  /* border-radius: 10px; */
}
.gifResults{
  display: flex;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  overflow:scroll;
  height: 20rem;
  width: 40rem;
  overflow-x:hidden;
}
.gifItem{
  width:200px;
}
.postMsg .gifItem{
  width: 100%;
}
.form{
  padding-bottom:0.5rem;
} 
.postMsg{
  display: flex;
  flex-direction: column;
  padding:1rem;
}

.feedPosts{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(240, 240, 240);
  width: 70%;
  margin:auto;
  height: 100%;
  align-content: center;
}

.post{
  background-color: rgb(255, 255, 255);
  margin:0.5rem;
  width: min-content;
  padding:1.5rem;
}
.postImg{
  width:400px;
}
.postBtn{
  float:right;
}
.postBtn, .gifBtn{
  padding:0.5rem;
  border:none;
  border-radius: 5px;
}
.input{
  border:none;
  padding:1rem;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.input:focus{
  outline: none;
}
.post h4{
  padding-bottom:1rem;
  font-weight: normal;
}